/*styles go here*/

p{ 
	/*color:red;*/
	color:#123;
	font-family: Helvetica, Arial, sans-serif;
 }

h1 {
	font-family: Georgia,"Times New Roman", serif;
}

body{ 
	background-color: #ebe3c3;
 }

#container {
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#nav{
	list-style-type: none;
	padding: 0;
}

#nav li {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #ebe3c3;

	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;


} 
#nav a:link, a:visited {
	display: block;
	color:white;
	background-color: limegreen;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
}

#nav a:hover, a:active {
	background-color: #7a991a;
}

.caption{
	color:black;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 0;
	text-align: right;
}
.footer{
	color: black;
	font-family: Georgia,"Times New Roman", serif;
	font-size: 0.8em;
	border-top: 1px soild red;

}