

.cardsbranding{
    padding: 2rem;
    margin-top: 10rem;
    gap: 1.5rem;
}

@media screen and (min-width: 450px) {



}

@media screen and (min-width: 800px) {


.card1 { grid-area: a; }
.card2 { grid-area: b; }
.card3 { grid-area: c; }
.card4 { grid-area: d; }
.card5 { grid-area: e; }
.crad6 { grid-area: f; }


.cardsbranding {
       gap: ;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10 px;
        grid-template-areas:
            "a b"
            "d d"
            "f c"
            "e e";
  }
}


@media screen and (min-width: 1000px) {

    #container {
        width: 95%;
    }

    nav ul li {
      margin: 5px;
    }

.card1 { grid-area: a; }
.card2 { grid-area: b; }
.card3 { grid-area: c; }
.card4 { grid-area: d; }
.card5 { grid-area: e; }
.crad6 { grid-area: f; }

.cardsbranding {
      
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10 px;
        grid-template-areas:
            "a b b "
            "c c e "
            "c c f "
            "d d d"
    }