
p{ 
	color:teal;
	font-family: "Poppins","trebuchet MS", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1rem;
 }

 h1{
 	color: darkblue;
 	font-family: "VT323", Georgia,"Times New Roman", serif;
 	font-size: 2rem;
 }

 body{
 	background-color:mintcream;
 	text-align: center;
 }

h2{
	color:darkblue;
	font-family:"VT323", Georgia,"Times New Roman", serif;
	font-size: 2rem;
	
}

h3{
	color:darkblue;
	font-family:"VT323", Georgia,"Times New Roman", serif;
	font-size: 2rem;
	
}
 
#hobbies{
	list-style-type: none;
	padding: 0;
}

#hobbies li{
	color:teal;
	font-family:"Poppins","trebuchet MS", sans-serif;
	font-weight: bold;
	font-style: italic;
}

#container {
	color:white;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#nav{
	list-style-type: none;
	padding: 0;
}


#nav a:link, a:visited {
	display: block;
	color:white;
	background-color: teal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family:"Poppins","trebuchet MS", sans-serif;
	padding: 10px;
}

#nav a:hover, a:active {
	background-color: darkblue;
}

.caption{
	color:lightgray;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 0;
	text-align: center;
}